.statsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  align-items: stretch;
  text-align: center;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 50vh;
  }
}

.statsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-md);

  > p:first-child {
    max-width: 50vw;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    text-align: center;

    > p:first-child { max-width: 100% }
  }
}