.socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pane {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md);
  text-align: left;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leftPane {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid var(--color-black);
  flex-grow: 1;

  @media (max-width: 768px) {
    border: none;
  }
}

.leftPaneBottom {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.imageContainer img {
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 50vw;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}