.outline-button {
  display: flex;
  border: 1px solid black;
  text-decoration: none;
  width: 15rem;
  border-radius: 100px;
  padding: .5rem;
}

.single-container {
  padding: 20px;
  border-top: 1px solid var(--color-black);
  text-align: left;
  display: flex;
  flex-direction: column;
}