.App {
  max-width: 1960px;
  margin: 0 auto;

  @media (min-width: 1961px) {
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
  }
}

.outline-button {
  display: flex;
  border: 1px solid black;
  text-decoration: none;
  width: 15rem;
  border-radius: 100px;
  padding: .5rem;
}

.single-container {
  padding: 20px;
  border-top: 1px solid var(--color-black);
  text-align: left;
  display: flex;
  flex-direction: column;
}