:root {
  --color-primary: #F5F2EE;
  --color-black: #333333;
  --color-light-blue: #A7D1F4;
  --color-pink: #FBB8AF;
  --color-dark-blue: #52709F;
  --color-green: #9EB786;
  --color-yellow: #E8D87A;

  --sans: "DM Sans", sans-serif;
  --heading: "Playfair Display", serif;
  --mono: 'Playfair Display', monospace;

  --font-size-2xs: 0.75rem; /* 12px */
  --font-size-xs: 0.875rem; /* 14px */
  --font-size-sm: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-ml: 1.5rem; /* 24px */
  --font-size-lg: 2.25rem; /* 36px */
  --font-size-xl: 3.75rem; /* 60px */
  --font-size-2xl: 5.3125rem; /* 85px */

  --space-sm: 20px;
  --space-md: clamp(20px, 4vw, 40px);
  --space-lg: clamp(40px, 8vw, 80px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-primary);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--color-black);
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, .text-2xl {
  font-family: var(--heading);
  font-size: var(--font-size-2xl);
  font-weight: 500;
  @media (max-width: 1024px) {
    font-size: var(--font-size-xl);
  }
}

h2, .text-xl {
  font-size: var(--font-size-xl);
  font-family: var(--heading);
  font-weight: 500;
  @media (max-width: 1024px) {
    font-size: var(--font-size-lg);
  }
}

h3, .text-lg {
  font-size: var(--font-size-lg);
  font-family: var(--heading);
  font-weight: 500;
  @media (max-width: 1024px) {
    font-size: var(--font-size-ml);
  }
}

p, .text-ml {
  font-size: var(--font-size-ml);
  font-weight: 400;
  @media (max-width: 1024px) {
    font-size: var(--font-size-xs);
  }
}

.text-md {
  font-size: var(--font-size-md);
  font-weight: 400;
  @media (max-width: 1024px) {
    font-size: var(--font-size-2xs);
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-ml);
  font-weight: 400;
  @media (max-width: 1024px) {
    font-size: var(--font-size-xs);
  }
}