
.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 300px;
    margin-top: 50px;
    font-family: "Playfair Display", serif;

    @media (max-width: 768px) {
      margin-bottom: 150px;
    }
}

.outline-button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.home-intro-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intro-text {
    max-width: 648px;
}