
.test-screen {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 982px;
    background: var(--background);
    overflow-y: auto;
    background: var(--background);  
}

.test-screen > h2 {
    margin-top: 50px;
}

.preference-button {
    display: flex;
    border: 1px solid var(--color-black);
    text-decoration: none;
    width: 20rem;
    border-radius: 100px;
    padding: .5rem;
    justify-content: center;
    justify-self: center;
    margin-top: 50px;
    transform: scale(1);
    transition: transform 0.2s ease;
    user-select: none;
}

.preference-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.preference-active {
    border: 2px;
    background-color: var(--color-black);
    color: var(--background);
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        justify-self: center;
        transform: scale(auto);
    }

    .test-screen {
        height: auto;
        width: auto;
    }
}