
.result-screen {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: auto;
    background: var(--color-light-blue);  
    padding: var(--space-sm);
}

.option {
    max-width: 80%;
    width: 30rem;
    height: 100%;
    background: var(--color-white);
    justify-self: center;
    padding: var(--space-sm);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

.options-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

button {
    position: absolute;
    border: none;
    cursor: pointer;
    bottom: 50%;
    transform: scale(0.85);
    transition: transform 0.2s ease;
    height: fit-content;
    background: transparent;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button:hover {
    transform: scale(1);
}

.left-button {
    left: 0%;
}

.right-button {
    right: 0%;
}

.option > h3 {
    color: var(--color-dark-blue);
}

.text-box {
    width: 100%;
    height: 286px;
    text-align: left;
    font-size: 20px;

    > p {
        height: 100%;
    }
}

.more-button {
  display: flex;
  border: 1px solid var(--color-black);
  text-decoration: none;
  width: fit-content;
  border-radius: 100px;
  padding: .5rem;
  justify-content: center;
  justify-self: center;
  margin-top: 0.7rem;
  padding: 1% 2% 1% 2%;
}

.more-button:hover {
    background-color: var(--color-yellow);
    cursor: pointer;
}

@media (max-width: 768px) {
    .result-screen {
        height: auto;
        width: auto;
    }

    .text-box {
        font-size: 16px;
    }

}
