
.picFrame {
    padding: 13px;
    display: grid;
    width: 25vw;
    aspect-ratio: 4/5;
    max-width: 400px;
    background: var(--color-white);
    transform: scale(0.8);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: var(--border);
    user-select: none;
}

.picFrame img {
    pointer-events: none;
    width: 100%;
}

.picFrame:hover {
    box-shadow: 0 0 0 3px var(--border);
    cursor: pointer;
}

.active {
    padding: 13px;
    display: grid;
    width: 25vw;
    aspect-ratio: 4/5;
    max-width: 400px;
    background: var(--color-white);
    transform: scale(0.85);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 0 10px var(--border);
    cursor: pointer;
    user-select: none;
}

.active img {
    pointer-events: none;
    width: 100%;
}

@media (max-width: 768px) {
    .picFrame {
        height: 25vh;
        aspect-ratio: 7/8;
        width: auto;
    }

    .active {
        height: 25vh;
        aspect-ratio: 7/8;
        width: auto;
    }
}